<!DOCTYPE html>
{% load static %}
{{ STATIC_URL}}
<html>
   <head>
      <title>Leaflet Polygons</title>
      <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
      <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
      <script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <link rel="stylesheet" href="{% static '/base.css' %}">
   </head>

   <body>
   <div class="sub">
      <a href="{% url 'mytest:out' %}"><button>Таблица координат</button></a>
       <a href="{% url 'mytest:outmap' %}"><button>Вывод координат на карту</button></a>
      <h2>Карта</h2>
   </div>



      <div id="map" style="   width: 900px;height: 480px; margin: auto;">
      <script>
         var mapOptions = {
            center: [53.90600103934284, 27.558977094555498],
            zoom: 11
         }
         var map = new L.map('map', mapOptions);


         var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
         map.addLayer(layer);



         map.on("click", async function(e){
            new L.Marker([e.latlng.lat, e.latlng.lng]).addTo(map);
            console.log([e.latlng.lat, e.latlng.lng])

            let point = {
               'lat': e.latlng.lat,
               'lng': e.latlng.lng
            };



            /*$.post(
               {% url 'mytest:in' %},
               {
                  'test': 'test',
                  'lat': e.latlng.lat,
                  'lng': e.latlng.lng,
                  'csrfmiddlewaretoken': '{{csrf_token}}'
               },
            );*/



            let response = await fetch({% url 'mytest:in' %}, {
                  method: 'POST',
                  headers: {
                     'Content-Type': 'application/json;charset=utf-8'
                  },
                  body: JSON.stringify(point)

               });
         })
      </script></div>
   </body>

</html>